name: Check and compile

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out sources
        uses: actions/checkout@v4
      - name: Installing Primer3
        run: sudo apt install -y primer3
      - name: Installing Rust toolchain
        run: rustup toolchain install stable
      - uses: Swatinem/rust-cache@v2
      - name: Checking formatting
        run: cargo fmt --check --manifest-path od-msspe/Cargo.toml
      - name: Checking lints
        run: cargo clippy --manifest-path od-msspe/Cargo.toml --all-targets -- -D warnings
      - name: Checking lints with all features
        run: cargo clippy --manifest-path od-msspe/Cargo.toml --all-targets --all-features -- -D warnings
      - name: Checking doc references
        uses: Icelk/rustdoc-link-check@v2
        with:
          private: true
      - name: Testing project
        run: cargo test --manifest-path od-msspe/Cargo.toml

  build:
    needs: [check]
    runs-on: ubuntu-latest

    steps:
    - name: Checking out sources
      uses: actions/checkout@v4
    - name: Installing Primer3
      run: sudo apt install -y primer3
    - name: Installing Rust toolchain
      run: rustup toolchain install stable --profile minimal
    - uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo build --verbose --manifest-path od-msspe/Cargo.toml
    - name: Run tests
      run: cargo test --verbose --manifest-path od-msspe/Cargo.toml
